
# Introduction to Pandas

**Duration:** 2â€“3 hours  
**Prerequisites:** Python basics  

## Learning Objectives
- Understand what Pandas is and its key data structures (Series, DataFrame).
- Load, inspect, and manipulate datasets.
- Perform data cleaning, grouping, merging, time-series analysis, and visualization.

In [1]:

# Import the pandas library
import pandas as pd
import numpy as np

## 1. Series
A Series is a one-dimensional labeled array capable of holding any data type.

In [2]:

# Create a simple Series
s = pd.Series([10, 20, 30, np.nan, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    10.0
b    20.0
c    30.0
d     NaN
e    50.0
dtype: float64

## 2. DataFrame
A DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns).

In [3]:

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 40],
    'City': ['Kathmandu', 'Pokhara', 'Biratnagar', 'Lalitpur']
}
df = pd.DataFrame(data)
df

      Name  Age        City
0    Alice   25   Kathmandu
1      Bob   30     Pokhara
2  Charlie   35  Biratnagar
3    Diana   40    Lalitpur

In [ ]:
# For demonstration, save the example DataFrame
df.to_csv('example_output.csv', index=False)
print("Saved example_output.csv")

## 4. Inspecting Data
Use these methods to explore your DataFrame.

In [ ]:

print(df.head())
print(df.info())
print(df.describe())

## 5. Selection and Filtering

In [ ]:

# Column selection
ages = df['Age']
print(ages)

# Row selection by label
print(df.loc[1])

# Boolean indexing
adults = df[df['Age'] > 30]
print(adults)

## 7. Grouping and Aggregation

In [ ]:

# Group by City and count entries
grouped = df.groupby('City').size()
print(grouped)

# Sum ages by city
age_sum = df.groupby('City')['Age'].sum()
print(age_sum)